body {
    margin: 0;
    padding: 0;
    font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.input {
    background: #FFFFFF;
    border: none;
    box-shadow: inset 0 0 0 1px #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 12px;
    line-height: 18px;
    transition: box-shadow 100ms ease;
}

.input:hover {
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #24A0FB;
}

.input:focus {
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px #24A0FB;
}

.input::placeholder {
    color: rgba(0, 0, 0, .25);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    border: none;
    transition: all 100ms ease;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.button-primary {
    background: #18A0FB;
    color: #FFF;
}

.button-primary:hover {
    background: #0677bd;
}

.button-secondary {
    background: #FFF;
    color: rgba(0, 0, 0, .85);
    box-shadow: inset 0 0 0 1px #E5E5E5;
}

.button-secondary:hover {
    background: #FFF;
    color: #18A0FB;
    box-shadow: inset 0 0 0 1px #18A0FB;
}

.button-link {
    padding: 6px 8px;
    background: #FFF;
    color: #18A0FB;
}

.button-link:hover {
    background: #FFF;
    color: #0677bd;
}

#app>div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.current-select {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

    background: rgba(235, 235, 235, 0.9);
    backdrop-filter: blur(16px);

    border-bottom: 1px #E0E0E0 solid;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
    padding: 46px 12px 58px;

    overflow: auto;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px 9px; /* 不知为何，下方少了1个像素 */

    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(16px);

    border-top: 1px #E0E0E0 solid;
}

.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 35px;
    font-size: 14px;
    color: rgba(0, 0, 0, .65);
}

.loading svg {
    animation: always-rotating 1.4s linear infinite;
    flex: none;
    order: 0;
    flex-grow: 0;
}

@keyframes always-rotating {
    100% {
        transform: rotate(360deg)
    }
}

.empty {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 35px;
    font-size: 14px;
    color: rgba(0, 0, 0, .65);
}

/* ============ */

.settings {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.85);
}

.settings>div {
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.settings h2 {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    user-select: none;
}

.settings .sub-title {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    padding-top: 4px;
    user-select: none;
}

.settings p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    user-select: none;
}

.settings .input-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 8px;
}

.settings .input {
    flex: none;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    flex-grow: 0;
    align-self: stretch;
    margin-top: 4px;
    margin-bottom: 16px;
}

.color-red {
    color: #E64340 !important;
}

.button-group {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
}

.button-group .button {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 8px;
}

.current-select div {
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0 0;
}

.current-select .current-select-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px 8px;

    flex-grow: 1;

    font-size: 12px;
    line-height: 17px;
}

.current-select .current-select-name svg {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 4px 0 0;
}

.current-select .current-select-name p {
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0;
    user-select: none;
    text-overflow: ellipsis;
}

.current-select button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    flex-grow: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 100ms ease;
}

.current-select button:hover {
    background: rgba(0, 0, 0, 0.05);
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.title svg {
    transition: background-color 100ms ease;
    border-radius: 2px;
}

.title svg:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.title .input {
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
    height: 30px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.selected {
    padding: 0 0 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: wrap;
}

.selected .tag {
    margin: 0 4px 4px 0;
    padding: 0 0 0 8px;
    flex: none;
    flex-grow: 0;
}

.selected .tag svg {
    padding: 0 4px 0 2px;
    cursor: pointer;
}

.tree {
    border-top: 1px solid #E0E0E0;
    padding: 12px 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    user-select: none;
}

.tree>ul {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.tree li {
    display: block;
}

.tree>ul>div {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 4px 6px 8px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 0;

    transition: background-color 100ms ease;
}

.tree>ul>li {
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.tree>ul>div:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.tree>ul>div .icon-fold {
    transition: transform 100ms ease;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 4px;
}

.tree>ul>div .icon-add {
    flex: none;
    order: 2;
    flex-grow: 0;
    border-radius: 2px;
    padding: 4px;
    transition: background-color 100ms ease;
    cursor: pointer;
}

.tree>ul>div .icon-add:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.tree>ul>div>span {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

    flex: none;
    order: 1;
    flex-grow: 1;

    font-weight: 600;
}

.tree>ul .tag-name {
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 4px;
}

.tree .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.85);
    background: rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    min-width: 8px;
    font-family: Avenir, -apple-system, serif;
}

.counter-zero {
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.25) !important;
    background: rgba(0, 0, 0, 0.03) !important;
}

.rotate-0 {
    transform: rotate(0deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.tree .sub-type {
    padding-bottom: 8px;
}

.tree .sub-type .sub-type-title {
    color: rgba(0, 0, 0, .45);
    padding: 0 0 4px 24px;
    font-size: 12px;
}

.tree>ul>li>ul {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.tree>ul>li>ul>li {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px 5px 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 0;

    transition: background-color 100ms ease;
    border-radius: 3px;
}

.tree>ul>li>ul>li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.li-selected {
    background-color: #FAFAFA;
    border-radius: 0;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;

    border-radius: 3px;
    background-color: #E3E2E0;

    color: rgba(0, 0, 0, .85);
    font-size: 12px;
    line-height: 18px;

    user-select: none;
}

.tree .tag {
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 2px;
}

.tag-adding {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    padding: 5px 2px 5px 24px;
}

.tag-adding .input {
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0;
    height: 26px;
    font-size: 12px;
    line-height: 18px;
}

.tag-adding .button {
    flex: none;
    flex-grow: 0;
    margin-left: 4px;
    padding: 6px;
    height: 26px;
}

/* TAGS */
.tag-default {
    background-color: rgba(227, 226, 224, 0.5) !important;
    color: rgb(50, 48, 44) !important;
}
.tag-gray {
    background-color: rgb(227, 226, 224) !important;
    color: rgb(50, 48, 44) !important;
}
.tag-brown {
    background-color: rgb(238, 224, 218) !important;
    color: rgb(68, 42, 30) !important;
}
.tag-orange {
    background-color: rgb(250, 222, 201) !important;
    color: rgb(73, 41, 14) !important;
}
.tag-yellow {
    background-color: rgb(253, 236, 200) !important;
    color: rgb(64, 44, 27) !important;
}
.tag-green {
    background-color: rgb(219, 237, 219) !important;
    color: rgb(28, 56, 41) !important;
}
.tag-blue {
    background-color: rgb(211, 229, 239) !important;
    color: rgb(24, 51, 71) !important;
}
.tag-purple {
    background-color: rgb(232, 222, 238) !important;
    color: rgb(65, 36, 84) !important;
}
.tag-pink {
    background-color: rgb(245, 224, 233) !important;
    color: rgb(76, 35, 55) !important;
}
.tag-red {
    background-color: rgb(255, 226, 221) !important;
    color: rgb(93, 23, 21) !important;
}

.select-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 24px;
    height: calc(100vh - 178px);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    margin: 0 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(0, 0, 0, .85);
    text-align: center;
}

.select-empty p {
    margin: 16px 0 0;
}